<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>- Portifolio Jhones Yure Dev.</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sobre.css" />
    <link rel="stylesheet" href="~/css/projetos.css" />
    <link rel="stylesheet" href="~/css/habilidades.css" />
    <link rel="stylesheet" href="~/css/contato.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                    <div>
                        <a href="#inicio">
                            <img class="logo" src="~/img/loggo.gif">
                        </a>
                    </div><!--Logo-->
                    <div>
                        
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse " id="navbarNav">
                                <ul class="navbar-nav nav">
                                    <li class="nav-item active">
                                        <a class="nav-link txtmenu" href="#inicio">Inicio <span class="sr-only">(Página atual)</span></a>
                                    </li> <br>
                                    <li class="nav-item ">
                                        <a class="nav-link txtinfo" href="#sobre">Sobre mim</a>
                                    </li> <br>
                                    <li class="nav-item ">
                                        <a class="nav-link txtinfo" href="#projetos">Projetos</a>
                                    </li> <br>
                                    <li class="nav-item ">
                                        <a class="nav-link txtinfo" href="#habilidades">Habilidades</a>
                                    </li> <br>
                                    <li class="nav-item ">
                                        <a class="nav-link txtinfo" href="#contato">Contato</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        </div><!--Menu-->
                

            </div><!--container-->
        </nav>
    </header>
    
    <main>
          @RenderBody() 
        <!--INICIO-->
        <section id="inicio">
            <div class="container-fluid fundo">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="texto">
                            Olá, é um prazer! 
                            Sou Jhones Yure
                            Desenvolvedor FullStack.
                        </h1>             
                    </div>
                    <div class="col-md-6">
                        <img class="foto" src="~/img/perfil.jpg">
                    </div><!--Foto-->
                    
                </div><!--Row-->
            </div><!--Container-->
        </section>
        <!--SOBRE MIM-->
        <section id="sobre">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="titulo">
                            Sobre mim
                        </h1>
                    </div>
                    <br>
                    <div class="col-md-3">
                        <p class="descricao">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <div class="col-md-9">
                        <img class="escritorio" src="~/img/escritorio.png">
                    </div>
                </div><!--Row-->
            </div><!--container-->
        </section>
        <!--PROJETOS-->
        <section id="projetos">

        </section>
    </main>
    

    <footer class="border-top footer text-muted">
        <div class="container direitos">
            &copy; 2022 - DevJhonesYure
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
